:local(.component) {
   
}

:local(.component) .player{
    font-size: 20px;
    padding: 15px 0;
}

:local(.component) .player.duo.active {
    border: 2px dashed green;
    background-color: #b8e994;
    
}